<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="hero-unit">
  <h2>This application was developed by <font color="cc3399">Maria Gloria Fernandez</font></h2>
  <div class= "row">
    <p>
      I am an it professional with over 15 years of experience. I love creating useful applications, easy to use and do what the user expects of them.
    </p>
    <p>
      I like the technology and i try to keep up with day, in these moments i believe strongly in:
    </p>
    <li style="font-size: 1.2em">SaaS               </li>
    <li style="font-size: 1.2em">Agile Methodologies</li>
    <li style="font-size: 1.2em">Ruby on Rails      </li>
    <li style="font-size: 1.2em">Cloud Computing    </li>
  </div>
</div>
