<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="hero-unit">
  <p>
    To request any information or answer any questions
    send an email to: mgfernandez@pabilos.com
  </p>
</div>
<div class="hero-unit">
  <div class="cell-b">
    <a href="https://twitter.com/GloriaFF" class="btn-large btn-primary">Follow me on Twitter</a>
    <a href="https://github.com/gloriaf" class="btn-large btn-primary">GitHub</a>
    
  </div>
</div>

