  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag("logo.png", alt: "pabilos"), 'http://www.pabilos.com', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    '/topics' %></li>
            <li><%= link_to "Help",    '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
          </ul>
         </nav>
      </div>
    </div>
  </header>
